- provide(:title, "About Us")
.row
  .col-md-12
    %h2 This is a payment information app.
    %p This web site is a self made payment manager application to keep track of all the payments we are making. It will include features such as
    %ul
      %li Setting up accounts and payments
      %li Keep balance of payments and what you have paid.
      %li Keep track of the information with confirmation information.
