.jumbotron
  .container
    %h1 Welcome!
    %p This is a simple website created to keep track of payments. This is not meant to replace any other formal application but it will help to keep track of payments since they are entered manually by you!.
    .bs-callout.bs-callout-info
      %h4 Dashboard overview
      %p This will contain a dashboard view of all the payment information including sum for the month, whats left to pay and a history. More like a global view of the accounts for now.
      %p.text-danger Take a look at how Goose integrated the dashboard in the shouter application we made in the intermediate rails.

