%h3 Home
.bs-callout.bs-callout-info
  %h4 Dashboard overview
  %p This will contain a dashboard view of all the payment information including sum for the month, whats left to pay and a history. More like a global view of the accounts for now.
