%li.list-group-item#role{id: accounts_user.id}
  = accounts_user.user.name
  %span.pull-right
    = button_to('Delete', accounts_user_path(accounts_user), method: :delete, class: "btn btn-danger btn-xs", remote: true)
