-can_modify_account = current_user.can_modify?(@account)
.row
  .col-lg-12
    %h3 Summary
    -unless @account.schedule.empty?
      .alert.bg-info Note: This account has automatic payment creation set up ( #{@account.converted_schedule.to_s} )
  .row
    %div{ class: ( can_modify_account ? "col-lg-6 col-md-6" : "col-lg-12 col-md-12" )}
      .panel.panel-primary#summary
        .panel-heading
          .row
            .col-xs-3
              %i.fa.fa-money.fa-3x
            .col-xs-9.text-right
              %div Total amount for current month of #{Date.today.strftime("%B")}
              #monthly_amount.h4=number_to_currency(@account.total_payment_amount_by_month)
        %a#view-history{href: "#"}
          .panel-footer
            %span.pull-left View Details
            %span.pull-right
              %i.fa.fa-arrow-circle-right
            .clearfix
    -if can_modify_account
      .col-lg-6.col-md-6
        .panel.panel-danger#payments
          .panel-heading
            .row
              .col-xs-3
                %i.fa.fa-calendar.fa-3x
              .col-xs-9.text-right
                -unless @account.schedule.empty?
                  %div Next Payment
                  .h4=number_to_currency(@account.payment_amount) + " on #{@account.next_payment_date}"
          %a{href: new_account_payment_path(@account)}
            .panel-footer
              %span.pull-left Make a payment
              %span.pull-right
                %i.fa.fa-arrow-circle-right
              .clearfix
.row
  .col-lg-12
    =column_chart(@account.paid_payments.group_by_month(:payment_date, format: "%D", last: 12).sum(:amount),
    library: { tooltip: { pointFormat: 'Amount: <b>${point.y:,.2f}</b>'},
    title: { text: 'Monthly Summary',
             align: 'left'  } })
          
