%h1 Your Accounts
%h3
  = link_to "New Account", new_account_path
  |
  = link_to "Make a payment", new_payment_path
%table.table-hover.table.striped
  %tr
    %th Name
    %th Description
    %th Created At
    %th Updated At 
    %th &nbsp
  = render @accounts