%h1 Your Accounts
.row
  .col-lg-6
    %h3= link_to "New Account", new_account_path
  .col-lg-6
    %h3= link_to "Make a payment", new_payment_path
.table-responsive
  %table.table-hover.table.striped
    %tr
      %th Name
      %th Description
      %th Created At
      %th Updated At
      %th &nbsp
    = render @accounts